In [178]:
import pandas as pd

In [179]:
#Series de pandas
numeros = [3, 4, 5, 6, 7]
serie = pd.Series(numeros)
serie, type(serie)

(0    3
 1    4
 2    5
 3    6
 4    7
 dtype: int64,
 pandas.core.series.Series)

In [180]:
data = {
    "Nombres": ["Ana", "Juan", "Pedro", "María", "Luis"],
    "Edades": [22, 23, 25, 28, 21],
    "Ciudades": ["A", "B", "C", "D", "E"]
    }
data, type(data)

({'Nombres': ['Ana', 'Juan', 'Pedro', 'María', 'Luis'],
  'Edades': [22, 23, 25, 28, 21],
  'Ciudades': ['A', 'B', 'C', 'D', 'E']},
 dict)

In [181]:
#generar un dataframe a partir de un diccionario
df = pd.DataFrame(data)
df, type(df)

(  Nombres  Edades Ciudades
 0     Ana      22        A
 1    Juan      23        B
 2   Pedro      25        C
 3   María      28        D
 4    Luis      21        E,
 pandas.core.frame.DataFrame)

In [182]:
#exportar DataFrame
df.to_csv("data.csv")

In [183]:
#importar un DataFrame eliminando la columna repetida con index
import_df = pd.read_csv("data.csv", index_col=0)
import_df

  Nombres  Edades Ciudades
0     Ana      22        A
1    Juan      23        B
2   Pedro      25        C
3   María      28        D
4    Luis      21        E

In [184]:
nombres = df["Nombres"]
print(nombres, type(nombres))

0      Ana
1     Juan
2    Pedro
3    María
4     Luis
Name: Nombres, dtype: object <class 'pandas.core.series.Series'>

In [185]:
#seleccionar columnas
edades = df["Edades"]
print (edades)

0    22
1    23
2    25
3    28
4    21
Name: Edades, dtype: int64

In [186]:
#filtrar por índice
fila = df.loc[2]
fila, type(fila)

(Nombres     Pedro
 Edades         25
 Ciudades        C
 Name: 2, dtype: object,
 pandas.core.series.Series)

In [187]:
#filtar por condición
df[df["Edades"] > 23]

  Nombres  Edades Ciudades
2   Pedro      25        C
3   María      28        D

In [188]:
import numpy as np

In [189]:
data = {
    "Nombres": ["Ana", "Juan", "Pedro", "María", "Luis"],
    "Edades": [22, 23, np.nan, 28, 21],
    "Ciudades": ["A", "B", "C", None, "E"]
    }
df = pd.DataFrame(data)
df

  Nombres  Edades Ciudades
0     Ana    22.0        A
1    Juan    23.0        B
2   Pedro     NaN        C
3   María    28.0     None
4    Luis    21.0        E